@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.sticky-nav {
  position: sticky;
  top: 0;
  backdrop-filter: saturate(200%) blur(20px);
}
