@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  overflow-x: hidden;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: saturate(30%) blur(18px);
}
